{% load static %}
{% include "includes/header.html" %}

<style>
    .tbl-font{
    font-size:11px;
    }
</style>
<script>


</script>
<div class="container-fluid">
    <div class="row bg-light" >
        <div class="col-md-9">
            <h2 class="m-4">MIS Report</h2>
            <table class="table table-bordered table-responsive tbl-font" >
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td colspan="4">5 March</td>
                    <td></td>

                    <td></td>
                    <td colspan="4">30 Jan</td>
                    <td></td>

                    <td></td>
                    <td colspan="4">26 Aug</td>
                    <td></td>

                    <td colspan="2">Diff From 5th Jan</td>
                    <td colspan="2">Diff From 5th Jan</td>
                    <td colspan="2">Gap From 5th Jan</td>
                    <td colspan="2">Diff From 13th Jul</td>
                    <td></td>

                </tr>
                <tr class="bg-danger text-white">
                    <td>State</td>
                    <td>Center</td>
                    <td>City/UPC</td>
                    <td>Main /II/</td>
                    <td>Editors</td>
                    <td>Cash/Credit</td>

                    <td>Gao Slab From 5td Mar 20</td>
                    <td>PO</td>
                    <td>NPS</td>
                    <td>Samping</td>

                    <td>Gao Slab From 5td Mar 20</td>
                    <td>PO</td>
                    <td>UNSOLD</td>
                    <td>Samping</td>

                    <td>Gao Slab From 5td Mar 20</td>
                    <td>PO</td>
                    <td>UNSOLD</td>
                    <td>Samping</td>

                    <td>PO</td>
                    <td>NPS</td>

                    <td>PO</td>
                    <td>NPS</td>

                    <td>PO</td>
                    <td>NPS</td>



                    <td>Gross/Loss NPS FROM 30TH JAN</td>
                </tr>

                {% for i in "11"%}
                <tr>
                    <td rowspan="10"></td>
                    <td rowspan="10" style="vertical-align: middle;">BHOP</td>
                    <td rowspan="2" style="vertical-align: middle;">CITY</td>
                    <td>MAIN</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td>II</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td colspan="2" align="center">City Total</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td rowspan="6">UPC</td>
                    <td>VODHISHA</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td>GUNA</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>


                    <td>SHIHORE</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>


                    <td>Ragi.BY</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>


                    <td>Rassin</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>


                    <td>Ashok Nagar</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    {% endfor %}


                    <td colspan="2" align="center">UPS TOTAL</td>
                    <td></td>
                    <td>Credit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>


            </table>
            <div class="m-4"> <a href="/dash" class="btn btn-danger"> Back</a></div>


        </div>
        <div class="col-md-3 bg-white">
            <h3>Filter</h3>
            <hr>
            <h4>State</h4>
            {% for state in states %}
            <span><input type="checkbox" name="stateid" value="{{ state.pk}}" onclick="getUnit('{{ state.pk}}')"> {{ state.state_name}}</span>
            {% endfor%}
            <div id=""
            <h3>Unit</h3>
            <div id="unitlist">
            </div>
            <h4>
                <hr>
            </h4>
            <div class="citylist">
            {% for city in cities%}
            <span><input type="checkbox" value="{{ city.pk}}" onclick="getUnit('{{ city.pk}}')"> {{ city.city_name}}</span>
            {% endfor%}
            </div>
            <div class="mt-4">
                <input type="date" placeholder="dd-mm-yyyy" value="" class="form-control">
            </div>
            <div class="mt-4 mb-4">
                <h4>
                    Agency wise copies
                </h4>

                <span><input type="checkbox" value=""> Sold to Party</span>
                <span><input type="checkbox" value=""> Ship to Party</span>

                <hr class="mt-4">
                <span><input type="checkbox" value=""> PO</span>
                <span><input type="checkbox" value=""> NPS</span>
                <span><input type="checkbox" value=""> Sampling</span>
                <span><input type="checkbox" value=""> NPS</span>



            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <label>From Date</label>
                    <input type="date" placeholder="Date">
                </div>
                <div class="col-md-6">
                    <label>To Date</label>
                    <input type="date" placeholder="Date">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12"><h6>Particular Date</h6></div>
                <div class="col-md-6">
                    <input type="date" placeholder="Date">
                </div>
                <div class="col-md-6">

                    <input type="date" placeholder="Date">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12"><h6>Diffrence in copies(PO / NPS)</h6></div>
                <div class="col-md-6">
                    <input type="date" placeholder="Date">
                </div>
                <div class="col-md-6">

                    <input type="date" placeholder="Date">
                </div>
            </div>

             <div class="row mt-4">
                <div class="col-md-12"><h6>Gap in percentage % (PO / NPS)</h6></div>
                <div class="col-md-6">
                    <input type="date" placeholder="Date">
                </div>
                <div class="col-md-6">

                    <input type="date" placeholder="Date">
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-md-6">
                    <h6 class="mt-2">Gap Grading</h6>
                </div>
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="">Column Number 1</option>
                        <option value="">Column Number 2</option>
                        <option value="">Column Number 3</option>
                        <option value="">Column Number 4</option>
                    </select>
                </div>
            </div>

            <div class="mt-4">
                <button class="w-100 btn btn-danger" >SUBMIT</button>
            </div>

            <div class="mt-4">
                <table class="table table-striped">
                    <tr class="bg-danger">
                        <td>Base Copy From 5th Mar 20</td>
                        <td>Arh % Slab</td>
                    </tr>

                    <tr>
                        <td><= 15% Loss</td>
                        <td> > 85% < 100% </td>
                    </tr>

                    <tr>
                        <td><= 15% Loss</td>
                        <td> > 85% < 100% </td>
                    </tr>

                    <tr>
                        <td><= 15% Loss</td>
                        <td> > 85% < 100% </td>
                    </tr>


                    <tr>
                        <td><= 15% Gain</td>
                        <td> > 85% < 100% </td>
                    </tr>

                    <tr>
                        <td><= 15% Loss</td>
                        <td> > 85% < 100% </td>
                    </tr>
                    <tr>
                        <td><= 15% Loss</td>
                        <td> > 85% < 100% </td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>

<script>
    function getUnit(sid){
    $("#unitlist").html();
    var list = new Array();
        $('input[name="stateid"]:checked').each(function() {
            list.push(this.value);
        });
        var myJson = JSON.stringify(list);
        $.ajax({
            url:"/misreport/getUnit/",
            type:"get",
            data:{'stateId':myJson},
            success:function(data){
            debugger;
            d= JSON.parse(data);
            for(unit=0;unit<=d.length;unit++){
                $("#unitlist").append("<input type='checkbox' name=''> "+ d[unit].fields.unit_code+" ");
            }
            }
        });
    }
    getUnit();
</script>
{% include "includes/footer.html" %}